body {
  display: flex;
  background-color: rgb(100, 99, 99);
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
}

.container {
  display: flex;
  padding: 10px;
  border: 2px solid whitesmoke;
  width: 500px;
  border-radius: 16px;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.head {
  font-weight: 600;
  font-size: 17px;
  /* margin: 20px; */
  margin-bottom: 20px;
}

input {
  background-color: aliceblue;
  width: 350px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: red;
}

input:hover {
  background-color: rgb(158, 156, 152);
}

input:focus {
  border: 0px;
  background-color: beige;
}
